nav li{
    list-style: none;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}

.checked {
    color: orange;
  }
  .fab{
      font-size: 40px;
      margin:10px 5px 30px 5px;
      color: whitesmoke;

  }